#watchlist-status-bar {
  box-sizing: content-box;
  font-size: 10px;
  line-height: 1;
  border-top: 1px solid silver;
  border-left: 1px solid silver;
  color: black;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 25000;
  background-color: #ebebeb;
  -webkit-border-top-left-radius: 2px;
  max-width: 70%;
}

#watchlist-title {
  font-weight: bold;
}

.watchlist-status-bar-item {
  display: inline-block;
  padding: 0.4em 0.5em 0 0.5em;
  line-height: 1em;
  font-family: verdana;
  height: 1.4em;
}

.watchlist-status-bar-count {
  color: #7A9FFF;
  font-size: 0.7em;
  vertical-align: sub;
}

.watchlist-item-hover .watchlist-status-bar-count {color: #eeeeee;}
.watchlist-item-click .watchlist-status-bar-count {color: #333333;}

.watchlist-highlight {
  background-color: #ffff96;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 3px;
  color: black;
  font-weight: bold;
}

.watchlist-item-hover {
  background-color: #5074D3;
  border-radius: 2px;
  color: #ffffff;
}

.watchlist-item-click {
  background-color: #9DC7F7;
  color: #333333;
}

@-webkit-keyframes blink {
    50%  {background-color: #5074D3; color: #ffffff;}
    100% {background-color: transparent;}
}

.watchlist-emphasized {
  -webkit-animation-name: blink;
  -webkit-animation-duration: 500ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
}